body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.empty {
  font-size: 16px;
  color:#ffc107;
}

.logout {
  margin-left: auto;
  margin-right: 15px;
}



.home {
  background-image: url('/images/weather.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  color: #FFFFFF;
  text-shadow: 1px 1px 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navItem{
  margin-bottom: 10px;
}

.get_started{
  margin-bottom: 70px;
}

.header {
  margin-bottom: 50px;
  color: #FFFFFF;
}

#champBouton {
  display: flex;
  justify-content: center;
 
  width: 100 vw;

}

#champs {
  width:100%
}


#map{
  margin-top: 10px;
}

.ville {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 2px solid black; */
  
}

.group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  /* border: 2px solid black; */
  
}

/* #croix {
  /* border: 2px solid black;  */

   
 /* } */ 

#update {
  text-align: center;
  margin-top: 40px;
}

#vide {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  color: blue;
}

#worldmap {
  height: 400px;
   
}








